/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/*===== BASE =====*/
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  color: hsl(224, 56%, 12%);
}

h1, h2, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS =====*/
.section-title {
  position: relative;
  font-size: 1.25rem;
  color: hsl(224, 89%, 60%);
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: hsl(224, 89%, 60%);
}

.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {
  max-width: 1024px;
  display: grid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}
@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    top: 3rem;
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: hsl(224, 56%, 12%);
    transition: 0.5s;
  }
}
.nav__item {
  margin-bottom: 2rem;
}
.nav__link {
  position: relative;
  color: #fff;
}
.nav__link:hover {
  position: relative;
}
.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: hsl(224, 89%, 60%);
}
.nav__logo {
  color: hsl(224, 56%, 12%);
}
.nav__toggle {
  color: hsl(224, 56%, 12%);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: hsl(224, 89%, 60%);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  position: relative;
  row-gap: 5rem;
  padding: 4rem 0 5rem;
}
.home__data {
  align-self: center;
}
.home__title {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}
.home__title-color {
  color: hsl(224, 89%, 60%);
}
.home__social {
  display: flex;
  flex-direction: column;
}
.home__social-icon {
  width: max-content;
  margin-bottom: 1rem;
  margin-left: 0.6rem;
  font-size: 1.5rem;
  color: hsl(224, 56%, 12%);
}
.home__social-icon:hover {
  color: hsl(224, 89%, 60%);
}
.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 260px;
}
.home__blob {
  fill: hsl(224, 89%, 60%);
}
.home__blob-img {
  width: 360px;
}

/*BUTTONS*/
.button {
  display: inline-block;
  background-color: hsl(224, 89%, 60%);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: 600;
  border-radius: 0.5rem;
  transition: 0.3s;
}
.button:hover {
  box-shadow: 0px 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
.about__container {
  row-gap: 2rem;
  text-align: center;
}
.about__subtitle {
  margin-bottom: 1rem;
}
.about__img {
  justify-self: center;
}
.about__img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* ===== SKILLS =====*/
.skills__container {
  row-gap: 2rem;
  text-align: center;
}
.skills__subtitle {
  margin-bottom: 1rem;
}
.skills__text {
  margin-bottom: 2rem;

}
.skills__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: 600;
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
}
.skills__icon {
  font-size: 2rem;
  margin-right: 1rem;
  color: hsl(224, 89%, 60%);
}
.skills__names {
  display: flex;
  align-items: center;
}
.skills__bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: hsl(224, 89%, 60%);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: -10;
}
.skills__html {
  width: 95%;
}
.skills__css {
  width: 95%;
}
.skills__js {
  width: 80%;
}
.skills__ux {
  width: 85%;
}
.skills__img {
  border-radius: 0.5rem;
  height: 24rem;
}

/* ===== WORK ===== */
.work__container {
  row-gap: 2rem;
}

.work__img {
  display: block;
  text-align: center;
  box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
  color: #333;
  text-decoration: none;
}

.work__img img {
  width: 100%;
  height :19rem;
  display: block;
  transition: 1s;
}

.work__img img:hover {
  transform: scale(1.1);
}

.work__title {
  display: block;
  padding: 0.75rem;
  font-size: 1rem;
  font-weight: 600;
  background: #fff;
   color: hsl(224, 89%, 60%);
}

/* ===== CONTACT =====*/
.contact__input {
  width: 100%;
  font-size: 0.938rem;
  font-weight: 600;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1.5px solid hsl(224, 56%, 12%);
  outline: none;
  margin-bottom: 1rem;
}
.contact__button {
  display: block;
  border: none;
  outline: none;
  font-size: 0.938rem;
  cursor: pointer;
  margin-left: auto;
  margin-bottom: 0.6rem;
}
#contact {
  scroll-margin-top: 75px; /* adjust to your header height */
}

/* ===== FOOTER =====*/
.footer {
  background-color: hsl(224, 56%, 12%);
  color: #fff;
  text-align: center;
  font-weight: 600;
  padding: 2rem 0;
}
.footer__title {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.footer__social {
  margin-bottom: 2rem;
}
.footer__icon {
  font-size: 1.5rem;
  color: #fff;
  margin: 0 1rem;
}
.footer__copy {
  font-size: 0.75rem;
}

/* ===== MEDIA QUERIES =====*/
@media screen and (max-width: 320px) {
  .home {
    row-gap: 2rem;
  }
  .home__img {
    width: 200px;
  }
}
@media screen and (min-width: 576px) {
  .home {
    padding: 4rem 0 2rem;
  }
  .home__social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home__social-icon {
    margin-bottom: 0;
    margin-right: 2rem;
  }
  .home__img {
    width: 300px;
    bottom: 25%;
  }
  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: initial;
  }
  .skills__container {
    grid-template-columns: 0.7fr;
    justify-content: center;
    column-gap: 1rem;
  }
  .work__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    padding-top: 2rem;
  }
  .contact__form {
    width: 360px;
    padding-top: 0rem;
  }
  .contact__container {
    justify-items: center;
  }
}
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: 3rem;
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }
  .nav {
    height: 4.5rem;
  }
  .nav__list {
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: 3rem;
    margin-bottom: 0;
  }
  .nav__toggle {
    display: none;
  }
  .nav__link {
    color: hsl(224, 56%, 12%);
  }
  .home {
    padding: 8rem 0 2rem;
  }
  .home__img {
    width: 400px;
    bottom: 10%;
  }
  .about__container {
    padding-top: 2rem;
  }
  .about__img img {
    width: 300px;
  }
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
    text-align: initial;
  }
  .work__container {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home {
    padding: 10rem 0 2rem;
  }
  .home__img {
    width: 450px;
  }
}

/*===== MEDIA QUERIES FOR FONT SIZES =====*/
@media screen and (min-width: 968px) {
  .home__title {
    font-size: 3.5rem;
  }
  .section-title {
    font-size: 2rem;
  }
  body {
    font-size: 1rem;
  }
  .footer__copy {
    font-size: 0.875rem;
  }
}

/* ===== EDUCATION SECTION ===== */
.education-skills {
  padding: 3rem 0;
}

.edu-skill-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 80%;
  margin: 0 auto 4rem;
}

.edu-skill-item {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
  padding: 1.2rem 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  border-left: 5px solid hsl(224, 89%, 60%);;
  transition: all 0.3s ease;
}

.edu-skill-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 25px rgba(0, 119, 255, 0.2);
}

.edu-logo {
  width: 2.2rem;               
  height: 2.2rem;              
  font-size: 1rem;         
  color: hsl(224, 89%, 60%);
  border-radius: 50%;
  border: 2px solid hsl(224, 89%, 60%);
  display: flex;            
  align-items: center;      
  justify-content: center;  
  box-sizing: border-box;    
  transition: transform 0.3s ease, background 0.3s ease;
  flex-shrink: 0;
}


.edu-skill-item:hover .edu-logo {
  transform: scale(1.1);
}

.edu-content {
  flex: 1;
}

.edu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.edu-header h3 {
  color: hsl(224, 89%, 60%);;
  font-size: 1rem;
  margin: 0;
}

.edu-date {
  font-size: 0.9rem;
  color: #555;
  font-weight: 600;
}

.edu-school {
  font-size: 0.9rem;
  color: #666;
  
}

/* ===== RESPONSIVE ===== */
@media (max-width: 768px) {
  .edu-skill-container {
    width: 90%;
  }

  .edu-skill-item {
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
  }

  .edu-logo {
    height: 3rem;
    width:  3rem;
    font-size: 1.5rem;
  }

  .edu-header {
    justify-content: center;
    gap: 0.5rem;
  }

  .edu-header h3 {
    font-size: 1.1rem;
  }

  .edu-date {
    font-size: 0.9rem;
  }

  .edu-school {
    font-size: 0.9rem;
  }
}
